.orange-container {
  width: 70%;
  height: 100vh;
  background: radial-gradient(circle, #F26F44 0%, #A65638 100%);
  /* float: right; */
  padding: 60px 80px 60px 80px;
  display: inline-block;
}

.left-container {
  width: 30%;
  height: 100vh;
  padding: 50px;
  display: inline-block;
  vertical-align: top;
  background-image: url('../../Assets/images/horizBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.talking-point {
  font-size: 20px;
  color: #F4F1E7;
  border-bottom: 1px solid #F4F1E7;
  padding-bottom: 25px;
  letter-spacing: 1px;
}

.light {
  font-weight: 400;
}

.talking-points-container {
  width: 100%;
  height: 100%;
}

.u-list {
  padding: 0;
  overflow-x: hidden;
  max-height: 90%;
}

.point {
  overflow: hidden;
  font-family: 'Noto Serif', serif;
  font-size: 50pt;
  font-weight: 700;
  color: #F4F1E7;
  padding: 35px 0 35px 0;
  margin-right: 40px;
}

.border-bottom {
  border-bottom: 1px solid #F4F1E7;
}
 
.sportsball-logo-side {
  width: 100%;
  display: block;
}

.container {
  margin: 0;
  padding: 0;
}

.team-selected {
  color: #F26F44;
  font-family: 'Noto Serif', serif;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 50px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

